<!-- Card -->
<div *ngIf="newCharacter" class="card container">

  <div class="primary-color white-text">
    <h4 class="title text-center">{{newCharacter.name}}</h4>
  </div>
  <!-- Card body -->
  <div class="card-body">

    <!-- Material form register -->
    <form [formGroup]="newCharacterForm" (ngSubmit)="onSubmit()">

      <!-- Character Level -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Character Level</span>
        </div>
        <input type="number" class="form-control" min="1" max="70" name="characterLevel" value="1"
          aria-describedby="inputGroup-sizing-sm" [formControl]="level">
      </div>

      <!-- Power Level -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Power Level</span>
        </div>
        <input type="number" class="form-control" min="1" max="100000" name="characterLevel" value="1"
          aria-describedby="inputGroup-sizing-sm" [formControl]="power">
      </div>

      <!-- Abilities -->
      <div class="form-row">
        <h5 class="form">Ability Levels</h5>
      </div>

      <div *ngFor='let ability of newCharacter["abilities"] let i = index;' class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="font-weight: 700;">{{ability.type}}</span>
          <span class="input-group-text">{{ability.name}}</span>
        </div>
        <input (change)="updateAbility(ability.name, $event.target.value)" type="number" class="form-control" min="1"
          max={{ability.maxLevel}} name="abilityLevel{{i}}" value="1">
      </div>

      <!-- Gear -->
      <div class="form-row">
        <h5 class="form">Gear</h5>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Gear Tier</span>
        </div>
        <input type="number" class="form-control" min="1" max={{maxGearTier}} name="characterLevel" value="1"
          aria-describedby="inputGroup-sizing-sm" [formControl]="gearTier">
      </div>

      <div class="form-row">
        <h5 class="form" id="gearSlots">Gear Slots</h5>
      </div>
      <div class="form-row">
        <!-- Column 1-->
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gear Slot 1</span>
            </div>
            <mdb-checkbox class="mt-2" [formControl]="gearSlot1"></mdb-checkbox>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gear Slot 2</span>
            </div>
            <mdb-checkbox class="mt-2" [formControl]="gearSlot2"></mdb-checkbox>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gear Slot 3</span>
            </div>
            <mdb-checkbox class="mt-2" [formControl]="gearSlot3"></mdb-checkbox>
          </div>
        </div>
        <!-- End Column 1 -->
        <!-- Column 2-->
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gear Slot 4</span>
            </div>
            <mdb-checkbox class="mt-2" [formControl]="gearSlot4"></mdb-checkbox>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gear Slot 5</span>
            </div>
            <mdb-checkbox class="mt-2" [formControl]="gearSlot5"></mdb-checkbox>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Gear Slot 6</span>
            </div>
            <mdb-checkbox class="mt-2" [formControl]="gearSlot6"></mdb-checkbox>
          </div>
        </div>
        <!-- End Column 2 -->
      </div>
      <!-- End Row -->



      <!-- Star Ranks -->
      <div class="form-row">
        <h5 class="form">Star Ranks</h5>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Yellow Stars</span>
        </div>
        <input type="number" class="form-control" min="1" max="{{maxStarLevel}}" name="yellowStars" value="1"
          aria-describedby="inputGroup-sizing-sm" [formControl]="yellowStars">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Red Stars</span>
        </div>
        <input type="number" class="form-control" min="1" max="{{maxStarLevel}}" name="redStars" value="1"
          aria-describedby="inputGroup-sizing-sm" [formControl]="redStars">
      </div>

      <!-- YellowStar -->
      <!-- <star-rating labelText="Yellow Star Rank" [starType]="'svg'" [rating]="1" labelPosition="left" staticColor="ok"
        [numOfStars]="maxStarLevel">
      </star-rating> -->

      <!-- RedStar -->
      <!-- <star-rating labelText="Red Star Rank" [starType]="'svg'" [rating]="0" labelPosition="left" staticColor="negative"
        [numOfStars]="maxStarLevel">
      </star-rating> -->

      <button type="button" class="btn btn-primary btn-rounded waves-effect" type="submit"
        [disabled]="newCharacterForm.invalid">Save</button>
    </form>
  </div>
  <!-- Card body -->

</div>
<!-- Card -->


<!-- <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="showConfirmation()"
  mdbWavesEffect>Launch
  demo modal</button> -->

<!-- Modal -->
<div mdbModal #confirmationModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="confirmationModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to add this Toon to your roster?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="onNoClick()"
          mdbWavesEffect>No</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
          (click)="onYesClick()">Yes</button>
      </div>
    </div>
  </div>
</div>
