
h5 {
font-weight: 700;
}

h4 {
  margin: 8px 0px;
}

div.primary-color.white-text {
  padding: 10px;
  margin: 10px, 0px;
}

div.card.container {
  padding: 25px;
  max-width: 350px;
}

button.btn.btn-primary {
  padding: 0px 4px;
  margin: 0px 2px;
}
