<!-- <pre>{{newCharacter | json}}</pre> -->

<!-- Card -->
<div *ngIf="newCharacter" class="card container">

  <div class="primary-color white-text">
    <h4 class="title text-center">{{newCharacter.name}}</h4>
  </div>
  <!-- Card body -->
  <div class="card-body">

    <!-- Material form register -->
    <form [formGroup]="newCharacterForm">
        
      <!-- Material input text -->
      <h5 class="form">Ability Levels</h5>
      <div class="form-row">
        <div class="col-md-8">
          <div *ngFor='let ability of newCharacter["abilities"] let i = index;'><span>{{ability.name}}</span>
            <div>
              <!-- TODO: Work on the Plus and Minus Icon styling -->
              <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button" class="btn btn-default btn-rounded"><i class="fa fa-minus fa-xs" aria-hidden="true"></i></button>
              <input class="quantity" min="1" max={{ability.maxLevel}} name="abilityLevel{{i}}" value="1" type="number">
              <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn btn-primary"><i class="fa fa-plus fa-xs" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
        <button type="button" class="btn btn-primary btn-rounded waves-effect" type="submit">Save</button>
    </form>
    <!-- Material form register -->

  </div>
  <!-- Card body -->

</div>
<!-- Card -->