<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">MSFTB</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/welcome']">Home<span class="sr-only"></span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/create-character']">Create Character</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/all-characters']">Current Characters</a>
      </li>

      <!-- Users Character Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a *ngIf="authService.isLoggedIn" dropdownToggle mdbWavesEffect type="button"
          class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          My Characters<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/characters-view']">Manage Existing
            Characters</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)=seedCharacters()>Seed Character</a>
        </div>
      </li>

      <!-- Teams Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a *ngIf="authService.isLoggedIn" dropdownToggle mdbWavesEffect type="button"
          class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Teams<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/team-add']">Create new Team</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Manage Existing Teams</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)=seedCharacters()>Seed Character</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img *ngIf="authService.isLoggedIn && currentUser" src={{currentUser.photoURL}} alt=""
            class="img-fluid rounded-circle z-depth-0">
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <div *ngIf="authService.isLoggedIn else login">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/my-account']">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="authService.logout()">Log out</a>
          </div>
          <ng-template #login>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/login']">Log in</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/register']">Register</a>
          </ng-template>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
