.view {
  background: url("https://vignette.wikia.nocookie.net/marvel-strike-force/images/0/0e/Community-header-background/revision/latest?cb=20180813184954&format=original")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
