<div class='container'>
  <mdb-card *ngFor='let character of characters$ | async'>
    <mdb-card-header>{{character.name}}</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
      </mdb-card-title>
      <div>
        <h6>Level</h6>
        <span>{{character.level | number}}</span>
        <h6>Power</h6>
        <span>{{character.power | number}}</span>
        <h6>Abilities</h6>
      </div>
      <mdb-card-text>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Name</th>
              <th scope="col">Level</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let ability of character["abilities"]; let i = index'>
              <td><b>{{ability.type}}:</b></td>
              <td>{{ability.name}}</td>
              <td>{{ability.level}}</td>
            </tr>
          </tbody>
        </table>
        <h6>Yellow Star Rank</h6> {{character.yellowStars}}
        <h6>Red Star Rank</h6> {{character.redStars}}
        <h6>Traits</h6>
        <span *ngFor=' let trait of character.traits; last as isLast'>
          {{ trait }}
          <span *ngIf='trait.length > 1 && isLast != true'>,</span>
        </span>
      </mdb-card-text>
      <button mdbBtn color="info" block="true" class="my-4"
        [routerLink]="['/character-edit', character.id]">Edit</button>
    </mdb-card-body>
  </mdb-card>
</div>
