<div class='container'>
  <!-- Default form login -->
  <form class="text-center border border-light p-5" [formGroup]="registerForm">

    <p class="h4 mb-4">Register</p>

    <!-- Email -->
    <input type="email" formControlName="email" id="loginFormEmail" class="form-control mb-4" placeholder="E-mail">
    <p class='error' *ngIf='email.invalid && (email.dirty || email.touched)'>{{getErrorMessage(email)}}</p>

    <!-- Username -->
    <input type="input" formControlName="userName" id="loginFormUserName" class="form-control mb-4"
      placeholder="UserName">
    <p class='error' *ngIf='userName.invalid && (userName.dirty || userName.touched)'>{{getErrorMessage(userName)}}</p>

    <!-- Password -->
    <input type="password" formControlName="password" id="loginFormPassword" class="form-control mb-4"
      placeholder="Password">
    <p class='error' *ngIf='password.invalid && (password.dirty || password.touched)'>{{getErrorMessage(password)}}
    </p>

    <!-- Password Confirm -->
    <input type="password" formControlName="confirmPassword" id="loginFormConfirmPassword" class="form-control mb-4"
      placeholder="Confirm Password">
    <p class='error' *ngIf='confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)'>
      {{getErrorMessage(confirmPassword)}}
    </p>

    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="disableButton()"
      (click)="authService.register(email.value, password.value, userName.value)">Register</button>
  </form>
  <!-- Default form login -->
</div>
