<div class='container'>
  <mdb-card *ngFor='let char of characterList'>
    <mdb-card-header>{{char.name}}</mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h6>Abilities</h6>
      </mdb-card-title>
      <mdb-card-text>
        <div *ngFor='let ability of char["abilities"]'>
          <b class='label'>{{ability.type}}:</b> {{ability.name}}
        </div>
        <h6>Traits</h6>
        <div *ngFor='let trait of char["traits"]'>
          {{trait}}
        </div>
      </mdb-card-text>
      <a href="" mdbBtn color="primary">Go somewhere!</a>
    </mdb-card-body>
  </mdb-card>
</div>
