<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>{{title}}</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4 waves-light" mdbWavesEffect>
    <img
      src="https://vignette.wikia.nocookie.net/marvel-strike-force/images/0/0e/Community-header-background/revision/latest?cb=20180813184954&format=original"
      class="rounded mx-auto d-block"
      alt="Photo Credit: https://strikeforce.fandom.com/wiki/File:Community-header-background">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <h5>
    <a class="indigo-text h5 mb-4" href="https://strikeforce.fandom.com/wiki/File:Community-header-background">
      Photo Credit
    </a>
  </h5>

  <!-- Linkedin -->
  <a class="fa-lg p-2 m-2 li-ic">
    <mdb-icon fab icon="linkedin-in" class="grey-text"></mdb-icon>
  </a>
  <!-- Twitter -->
  <a class="fa-lg p-2 m-2 tw-ic">
    <mdb-icon fab icon="twitter" class="grey-text"></mdb-icon>
  </a>
  <!-- Dribbble -->
  <a class="fa-lg p-2 m-2 fb-ic">
    <mdb-icon fab icon="facebook-f" class="grey-text"></mdb-icon>
  </a>

</div>
<!-- Jumbotron -->
